body {
  color: #121636;
}
.arrow-down {
  font-size: 32px;
  margin-top: 100px;
  text-align: center;
  animation: float 2s ease-in-out infinite;
  font-weight: 800;
  background-color: unset;
  border: none;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
  100% {
    transform: translateY(0);
  }
}
.intro {
  height: 80svh;
  text-align: center;
  font-family: RobotoMono;
  font-size: 2rem;
}
.one-content {
  text-align: center;
  gap: 60px;
  flex-direction: column;
}
.one-content h1 {
  font-size: 4.4rem;
  line-height: 4.4rem;
  font-family: Lexend;
}
.one-content p {
  font-size: 1.7rem;
  font-family: RobotoMono;
}

.two-content {
  text-align: center;
  gap: 60px;
  flex-direction: column;
}
.two-content h2 {
  font-size: 3rem;

  font-family: Lexend;
}
.three-content {
  text-align: center;
  gap: 60px;
  flex-direction: column;
}
.three-content h2 {
  font-size: 3rem;

  font-family: Lexend;
}
.three-content div {
  display: flex;
}
.three-content img {
  width: 50%;
}

.three-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding: 0 40px;
}
.three-text h3 {
  font-size: 2rem;

  font-family: Lexend;
}
.three-text p {
  font-size: 1.2rem;
  font-family: RobotoMono;
}
.four-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four-content h2 {
  font-size: 3rem;

  font-family: Lexend;
}
.four-content h3 {
  font-size: 2rem;
  margin-top: 40px;
  font-family: Lexend;
}
.four-content p {
  font-size: 1.2rem;
  font-family: RobotoMono;
  margin-top: 32px;
}
.cards-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}
.card-four {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 36px 16px;
  margin-bottom: 48px;
  align-items: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.105);
  border-radius: 24px;
}
.card-four img {
  height: 100px;
}
.card-four h3 {
  font-size: 1.5rem;
}
.card-four p {
  font-size: 1rem;
}
.button-four {
  background-color: #121636;
  color: aliceblue;
  padding: 16px 24px;
  font-size: 1.2rem;
  border-radius: 28px;
  border: none;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.5s;
  border: 3px solid #121636;
  font-family: Lexend;
  width: 400px;
}
.button-four:hover {
  background-color: transparent;
  border-radius: 8px;
  color: #121636;

  cursor: pointer;
}
.five-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fw {
  font-size: 3.5rem;
  font-family: RobotoMono;
  margin-bottom: 40px;
}
.gi {
  font-size: 2rem;
  font-family: Lexend;
  margin-bottom: 40px;
}
.wapoaow {
  font-size: 1.2rem;
  font-family: RobotoMono;
  margin-bottom: 40px;
  font-weight: 500;
}
.card-five {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.105);
  border-radius: 24px;
  transition: all 0.5s;
  margin-bottom: 40px;
}
.card-five:hover {
  background-color: #121636;
  color: white;
  scale: 1.02;
  cursor: pointer;
}
.card-five img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}
.card-five-text {
  font-size: 1.2rem;
  font-family: RobotoMono;
  padding: 24px;
}
.card-five-text h3 {
  font-size: 1.8rem;
  font-family: Lexend;
  margin-bottom: 12px;
}
@media (max-width: 1025px) {
  .three-content div {
    flex-direction: column;
  }
  .content-container {
    width: 100%;
  }

  .three-text {
    width: 100%;
    text-align: center;
  }
  .three-content img {
    width: 100%;
  }
  .intro h1 {
    margin-top: 140px;
  }
}
@media (max-width: 800px) {
  .intro h1 {
    margin-top: 100px;
  }
}
@media (max-width: 500px) {
  .one-content h1 {
    font-size: 3rem;
  }
  .button-four {
    width: 100%;
  }
  .intro h1 {
    font-size: 3rem;
    margin-top: 10svh;
    margin-top: 0;
  }
  .intro {
    height: 70svh;
  }
}
