:root {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: clip;
  margin: 0;
  padding: 0;
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
    circle at top,
    #afd4ef,
    #e0f4fc,
    #b3e4f9,
    #d6efff
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  min-height: 100dvh;
}
#main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: #121636;
}
@font-face {
  font-family: Lexend;
  src: url(./assets/Lexend-VariableFont_wght.ttf);
}
@font-face {
  font-family: RobotoMono;
  src: url(./assets/RobotoMono-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #afd4ef;
}
::-webkit-scrollbar-thumb {
  background: #121636;
  border-radius: 99px 0 0 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #121636d6;
}
@media (max-width: 1000px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
